body,
html {
    margin: 0px;
    padding: 0px;
}

$color-primary: #ffa7c2;
$color-secondary: #ff79da;
$color-tiers: #99e2d0;

.header__logo {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    background-image: url("images/pho3.jpg");
    background-size: cover;
}

.container__logo {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    .logo img {
        width: 170px;
        height: 20px;
    }
    & img {
        width: 100%;
        object-fit: contain;
    }
    .back i {
        font-size: 20px;
        color: black;
    }
}

.banner {
    height: 230px;
}
.banner img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.content_card span {
    border-bottom: 2px solid green;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & i {
        font-size: 25px;
    }
}

section {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 30px;
}

.menu {
    margin-bottom: 20px;
    width: 25px;
    border-bottom: 2px solid green;
}
.content__card h3 {
    font-size: 20px;
}

.content__card__top {
    margin: 30px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: #00000099 2px 2px 2px 2px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    height: 80px;

    &__animation {
        width: 0%;
        overflow: hidden;
    }

    &__tarif {
        display: flex;
        justify-content: space-between;
    }
}

.tarif {
    font-weight: 600;
}

.commander {
    display: flex;
    justify-content: center;

    .commander__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 25px 25px 25px 25px;
        height: 60px;
        width: 70%;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: $color-primary;
    }
}

footer {
    display: flex;
    flex-direction: column;
    bottom: 0px;
    width: 100%;
    height: 160px;
    background-color: rgba(47, 37, 37, 1);

    .bottom {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        color: #fff;
    }
}
.border {
    border: 2px solid red;
}
