body,
html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tiers: #99e2d0;

.container__general {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container__load {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 105px;
    left: 120px;
    &__load::after {
        content:'';
    }
}
.loading {
    width: 60px;
    height: 60px;
    border: 10px solid $color-primary;
    border-top: 10px solid $color-secondary;
    display: flex;
    border-radius: 50%;
    animation: spinner 3s linear infinite;

    &::after
    {
        content:'';
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
        border: 10px solid $color-primary;
    }
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;

    .container__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .logo {
        display: flex;
        width: 150px;
        height: 25px;

        & img {
            width: 100%;
        }
    }

    .header__content {
        background-color: #f2f2f2;
        height: 320px;
        justify-content: center;

        .second__title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
        }
        & h2 {
            width: 60%;
            font-size: 20px;
        }

        & a {
            text-decoration: none;
        }
    }
}
.reservez {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(177deg, $color-secondary, $color-primary);
    margin-top: 30px;
    box-shadow: 0px 4px 11px -4px black;
    padding: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    &:hover {
        box-shadow: 0px 4px 17px 3px black;
        transition: all 0.5s;
        background: linear-gradient(177deg, #ff79daa3, #9356dcb8);
    }

    & h3 {
        margin: 0px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
    }
}
.commander h3 {
    padding: 0px 40px;
}

.header__localisation {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    background-color: #eae9e9;
    border-top: 4px solid #80808047;

    & span {
        font-size: 13px;
    }
    & i {
        margin-right: 15px;
    }
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;

    & h3 {
        margin-left: 6px;
    }
}

.link {
    display: flex;
    box-shadow: 0px 1px 11px -4px black;
    margin: 10px;
    padding: 24px 15px;
    padding-left: 26px;
    border-radius: 20px;
    background-color: #f2f2f2;

    & i {
        font-size: 18px;
        margin-right: 30px;
    }
    & span {
        display: flex;
        justify-content: center;
        font-weight: 600;
        font-size: 12px;
    }

    &__content {
        left: -35px;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__title {
        display: flex;
        width: 100%;
    }
}

.number {
    background-color: $color-primary;
    width: 15px;
    height: 15px;
    border: 2px solid $color-primary;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 30px;
}

section {
    background-color: #f2f2f2;
    width: 100%;
}

#content__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
        margin-right: 185px;
    }

    .picture {
        width: 290px;
        border-radius: 10px 10px 10px 10px;
        background-color: #fff;
        margin-bottom: 20px;
        box-shadow: 0px 5px 14px -5px black;
        & img {
            object-fit: cover;
            width: 100%;
            height: 150px;
            border-radius: 10px 10px 0px 0px;
        }

        .news {
            position: absolute;
            margin-left: 205px;
            margin-top: 10px;

            & span {
                color: rgb(38, 104, 38);
                background-color: $color-tiers;
                padding: 5px 10px;
                font-size: 12px;
                font-weight: 600;
            }
        }

        .subtitle {
            display: flex;
            justify-content: space-between;
            padding-bottom: 17px;
            margin-top: 4px;

            & i {
                font-size: 18px;
                margin-right: 20px;
                margin-top: 7px;
            }

            & i:hover {
                transform: scale(1.5);
                transition: transform 400ms ease-in-out;
                background: linear-gradient($color-primary 10%, $color-secondary 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            margin-left: 15px;

            & span {
                font-size: 12px;
            }

            & h4 {
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 0px;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    bottom: 0px;
    width: 100%;
    background-color: #000000d1;
    height: 140px;
    justify-content: center;

    .bottom {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        color: #fff;
        font-size: 11px;
        margin-bottom: 30px;

        .logoFooter {
            width: 100px;
            margin-bottom: 14px;
            margin-top: 20px;
        }
        & img {
            width: 100%;
            filter: invert(1);
        }

        &__content {
            margin-bottom: 5px;
            & i {
                width: 20px;
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
        }

        & span {
            margin-bottom: 5px;
        }
    }
}

#bg {
    background-color: aliceblue;
}

.header__logo {
    display: flex;
    justify-content: center;
}

#header__francaise {
    display: flex;
    justify-content: center;
    background-size: cover;
}

.banner {
    background-size: cover;
}

.banner img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.container__logoMenu {
    display: flex;
    height: 50px;
    position: relative;
    align-items: center;

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    & img {
        width: 170px;
        height: 20px;
        width: 100%;
        object-fit: contain;
    }

    .back {
        display: flex;
        position: absolute;
        margin-left: 16px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.content_card span {
    border-bottom: 2px solid green;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & i {
        font-size: 25px;
    }
}

.sectionMenu {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 30px 30px 0px 0px;
    z-index: 2;
    position: relative;
    top: -30px;
}

.menu {
    margin-bottom: 20px;
    width: 25px;
    border-bottom: 2px solid green;
}

.card1 {
    animation: progress 2s;
}
.card2 {
    animation: progress 3s;
}
.card3 {
    animation: progress 4s;
}
.card4 {
    animation: progress 5s;
}
.card5 {
    animation: progress 6s;
}
.card6 {
    animation: progress 7s;
}
.card7 {
    animation: progress 8s;
}
.card8 {
    animation: progress 9s;
}
.card9 {
    animation: progress 10s;
}
.card {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: #00000099 1px 1px 10px -6px;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;

    @keyframes progress {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
        }
    }

    &__content {
        padding: 0px 15px;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-overflow: ellipsis;
    }
    .card__test {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &tarif span {
            display: flex;
            justify-content: space-between;
            font-weight: 600;
        }
    }

    & span,
    h4 {
        font-size: 12px;
        margin-top: 0px;
        text-overflow: ellipsis;
        margin-bottom: 5px;
    }

    &__animation {
        width: 0%;
        overflow: hidden;
        background-color: $color-tiers;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: width 0.3s ease-in-out;
        border-radius: 0px 15px 15px 0px;
        & i {
            color: #fff;
            font-size: 22px;
        }
    }

    &:hover > &__animation {
        width: 25%;
        overflow: visible;

        & i {
            transform: rotate(360deg);
            transition: transform 400ms ease-in-out;
        }
    }
}

@media screen and(min-width:1024px) {
    $color-primary: #ffa7c2;
    $color-secondary: #ff79da;
    $color-tiers: #99e2d0;

    #container__general {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        text-align: center;

        .container__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
        }

        .logo {
            display: flex;
            width: 150px;
            height: 25px;

            & img {
                width: 100%;
            }
        }

        .header__content {
            background-color: #f2f2f2;
            height: 320px;
            justify-content: center;

            .second__title {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
            }
            & h2 {
                width: 60%;
                font-size: 20px;
            }

            .reservez {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .main {
                border-radius: 30px 30px 30px 30px;
                background-color: $color-secondary;
                margin-top: 30px;
                width: 60%;

                & h3 {
                    font-size: 16px;
                }
            }
        }

        .header__localisation {
            display: flex;
            align-items: center;
            height: 50px;
            justify-content: center;
            background-color: #eae9e9;
            border-top: 4px solid #80808047;

            & span {
                font-size: 13px;
            }
            & i {
                margin-right: 15px;
            }
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        background-color: #f2f2f2;
        position: relative;
        &__content {
            left: -30px;
        }
    }

    .link__number span {
        color: #fff;
    }

    .content__bottom {
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;

        .content__title {
            margin-right: 20px;
        }
    }
    .picture {
        width: 350px;
        border-radius: 20px;
        background-color: #fff;
        margin-bottom: 20px;
        & img {
            object-fit: cover;
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0px 0px;
        }

        & h4 {
            margin-top: 5px;
            margin-bottom: 3px;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    bottom: 0px;
    width: 100%;
    background-color: #353535;

    .bottom {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        color: #fff;
        margin-bottom: 10px;
    }
}

/*
    .border {
        border: 3px solid violet;
    }

    .bb {
        border: 3px solid blue;
    }
}
*/
