body,
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.container__general {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  animation: home-delay-none 3s linear;
  position: absolute;
  width: 100%;
}

@keyframes home-delay-none {
  0% {
    opacity: 0;
  }
  100% {
    animation-delay: 3s;
    opacity: 0;
  }
}
#container__load {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  background-color: #fff;
  width: 100%;
  animation: 3s endLoading forwards;
  height: 100vh;
  align-items: center;
}

@keyframes endLoading {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading {
  width: 40px;
  height: 40px;
  border: 10px solid #9356dc;
  border-top: 10px solid #ff79da;
  display: flex;
  border-radius: 50%;
  animation: spinner 3s linear infinite;
  z-index: 2;
  position: absolute;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
    border: 10px solid #9356dc;
  }
}
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
header .container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
header .logo {
  display: flex;
  width: 150px;
  height: 25px;
}
header .logo img {
  width: 100%;
}
header .header__content {
  background-color: #f6f6f6;
  height: 320px;
  justify-content: center;
}
header .header__content .second__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
header .header__content h2 {
  width: 60%;
  font-size: 20px;
}
header .header__content a {
  text-decoration: none;
}

.reservez {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 30px 30px 30px 30px;
  background: linear-gradient(177deg, #ff79da, #9356dc);
  margin-top: 30px;
  box-shadow: 0px 4px 11px -4px black;
  padding: 18px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 4px 17px 3px black;
  transition: all 0.5s;
  background: linear-gradient(177deg, #ff79daa3, #9356dcb8);
}
.button h3 {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.commander h3 {
  padding: 0px 40px;
}

.header__localisation {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
  background-color: #eaeaea;
  border-top: 4px solid #80808047;
}
.header__localisation span {
  font-size: 13px;
}
.header__localisation i {
  margin-right: 15px;
}

nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.link {
  display: flex;
  box-shadow: 0px 1px 11px -4px black;
  margin: 10px;
  padding: 24px 15px;
  padding-left: 26px;
  border-radius: 20px;
  background-color: #f6f6f6;
}
.link i {
  font-size: 18px;
  margin-right: 30px;
}
.link span {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
}
.link__content {
  left: -35px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.link__title {
  display: flex;
  width: 100%;
}

.number {
  background-color: #9356dc;
  width: 15px;
  height: 15px;
  border: 2px solid #9356dc;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 30px;
}

section {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
}

#content__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content__bottom h3 {
  margin-right: 185px;
}
#content__bottom .picture {
  width: 290px;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0px 5px 14px -5px black;
}
#content__bottom .picture img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
}
#content__bottom .picture .news {
  position: absolute;
  margin-left: 205px;
  margin-top: 10px;
}
#content__bottom .picture .news span {
  color: #266826;
  background-color: #99e2d0;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
}
#content__bottom .picture .subtitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;
  margin-top: 4px;
}
#content__bottom .picture .subtitle i {
  font-size: 18px;
  margin-right: 20px;
  margin-top: 7px;
}
#content__bottom .picture .subtitle i:hover {
  transform: scale(1.5);
  transition: transform 400ms ease-in-out;
  background: linear-gradient(#9356dc 10%, #ff79da 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
#content__bottom .picture .content {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
#content__bottom .picture .content span {
  font-size: 12px;
}
#content__bottom .picture .content h4 {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
}

footer {
  display: flex;
  flex-direction: column;
  bottom: 0px;
  width: 100%;
  background-color: #353535;
  height: 140px;
  justify-content: center;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer .bottom {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  color: #fff;
  font-size: 11px;
  margin-bottom: 30px;
}
footer .bottom .logoFooter {
  width: 100px;
  margin-bottom: 14px;
  margin-top: 20px;
}
footer .bottom img {
  width: 100%;
  filter: invert(1);
}
footer .bottom__content {
  margin-bottom: 5px;
}
footer .bottom__content i {
  width: 20px;
}
footer .bottom__container {
  display: flex;
  flex-direction: column;
}
footer .bottom span {
  margin-bottom: 5px;
}

#bg {
  background: #f6f6f6;
}

.header__logo {
  display: flex;
  justify-content: center;
}

#header__francaise {
  display: flex;
  justify-content: center;
  background-size: cover;
}

.banner {
  background-size: cover;
}

.banner img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.container__logoMenu {
  display: flex;
  height: 50px;
  position: relative;
  align-items: center;
}
.container__logoMenu i {
  color: black;
}
.container__logoMenu .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container__logoMenu img {
  width: 170px;
  height: 20px;
  width: 100%;
  object-fit: contain;
}
.container__logoMenu .back {
  display: flex;
  position: absolute;
  margin-left: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.content_card span {
  border-bottom: 2px solid #99e2d0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title i {
  font-size: 25px;
}

.sectionMenu {
  display: flex;
  justify-content: center;
  border-radius: 30px 30px 0px 0px;
  z-index: 2;
  position: relative;
  top: -30px;
  background: #f6f6f6;
}

.menu {
  margin-bottom: 20px;
  width: 40px;
  border-bottom: 2px solid #99e2d0;
  border-width: 3px;
}

.card1 {
  animation: progress 2s;
}

.card2 {
  animation: progress 3s;
}

.card3 {
  animation: progress 4s;
}

.card4 {
  animation: progress 5s;
}

.card5 {
  animation: progress 6s;
}

.card6 {
  animation: progress 7s;
}

.card7 {
  animation: progress 8s;
}

.card8 {
  animation: progress 9s;
}

.card9 {
  animation: progress 10s;
}

.card {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: #00000099 1px 2px 16px -6px;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
}
@keyframes progress {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
.card__content {
  padding: 0px 15px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-overflow: ellipsis;
}
.card .card__test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card .card__test .tarif {
  font-weight: 600;
}
.card span,
.card h4 {
  font-size: 12px;
  margin-top: 0px;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.card__animation {
  width: 0%;
  overflow: hidden;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease-in-out;
  border-radius: 0px 15px 15px 0px;
}
.card__animation i {
  color: #fff;
  font-size: 22px;
}
.card:hover > .card__animation {
  width: 25%;
  overflow: visible;
}
.card:hover > .card__animation i {
  transform: rotate(360deg);
  transition: transform 400ms ease-in-out;
}

@media screen and (min-width: 1024px) {
  #container__general {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  header .container__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  header .logo {
    display: flex;
    width: 150px;
    height: 25px;
  }
  header .logo img {
    width: 100%;
  }
  header .header__content {
    background-color: #f6f6f6;
    height: 320px;
    justify-content: center;
  }
  header .header__content .second__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  header .header__content h2 {
    width: 60%;
    font-size: 20px;
  }
  header .header__content .reservez {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header__content .main {
    border-radius: 30px 30px 30px 30px;
    background-color: #ff79da;
    margin-top: 30px;
    width: 60%;
  }
  header .header__content .main h3 {
    font-size: 16px;
  }
  header .header__localisation {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    border-top: 4px solid #80808047;
  }
  header .header__localisation span {
    font-size: 13px;
  }
  header .header__localisation i {
    margin-right: 15px;
  }

  .fonctionnement {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  .link__content {
    left: -30px;
  }

  .link__number span {
    color: #fff;
  }

  .content__bottom {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
  }
  .content__bottom .content__title {
    margin-right: 20px;
  }

  .picture {
    width: 350px;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  .picture img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
  }
  .picture h4 {
    margin-top: 5px;
    margin-bottom: 3px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  bottom: 0px;
  width: 100%;
}
footer .bottom {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  color: #fff;
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  nav {
    display: flex;
  }

  .fonctionnement {
    justify-content: flex-start;
    width: 100%;
    margin-top: 0px;
  }

  .link__container {
    display: flex;
  }
  .link__container .link {
    padding: 20px 80px;
  }
  .link__container .link span {
    font-size: 15px;
  }
  .link__container .link__content {
    left: -90px;
  }

  .button {
    padding: 17px 112px;
  }
  .button h3 {
    font-size: 20px;
  }

  .container__content__bottom {
    flex-direction: column;
    display: flex;
  }

  #content__bottom {
    flex-direction: row;
  }
  #content__bottom__bottom__title {
    margin-left: 12px;
  }
  #content__bottom .picture {
    margin: 17px;
  }
  #content__bottom .picture img {
    height: 400px;
  }
  #content__bottom .picture .subtitle {
    padding-bottom: 22px;
  }
  #content__bottom .picture .subtitle .content h4,
#content__bottom .picture .subtitle span {
    font-size: 14px;
  }

  section {
    display: flex;
    justify-content: center;
  }

  .bottom span,
a {
    font-size: 14px;
  }

  .zoneEntree,
.zonePlat,
.zoneDessert {
    display: flex;
    justify-content: space-between;
  }

  .card {
    height: 90px;
    width: 30%;
    justify-content: space-between;
  }
  .card h4,
.card span {
    font-size: 14px;
  }

  .cardDesk {
    width: 24%;
  }
}

/*# sourceMappingURL=style.css.map */
